# === Prisma Atlas Edge Proxy Config ===
CLOUD_IP=prisma-atlas.duckdns.org
CLOUD_RTSP_PORT=8554
PUBLISH_RETRY_SEC=5
TCP_CHECK_TIMEOUT_SEC=5

# Define your local farm cameras here.
# The number at the end becomes the path. (e.g. FARM_CAM_1 -> pen_1)
FARM_CAM_1=rtsp://Tapoprisma:tapoprisma1@192.168.5.192:554/stream1
# FARM_CAM_2=rtsp://username:password@192.168.1.101:554/stream1